* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ion-title {
  color: #3ca19b;
  font-size: clamp(16px, 6vw, 45px);

  text-align: center;
  margin-top: 55px;
  font-weight: bolder;
  font-style: normal;
}

#header {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: rgb(20, 20, 20);

  height: 7vh;
  justify-content: space-around;

  h1 {
    color: #3ca19b;
  }

  ion-button {
    --background: #3ca19b;
  }
  
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  left: 5%;
  
  top: 20%;
  margin: 0px auto;

  background-color: #3ca19b;

  width: 50vw;
}


#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  right: 5%;
  
  top: 20%;
  margin: 0px auto;

  background-color: #24dbce;

  // width: 200px;
  height: 50%;

  .item {
    display: flex;
    flex-direction: column;
  }
}
