<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<main>
  <ion-header id="header">
    <h1>Faça upload de uma imagem para começar</h1>
    <ion-button (click)="fileInput.click()">
      Selecionar Imagem
    </ion-button>

    <input type="file" style="display: none" accept="image/*" #fileInput (change)="fileChangeEvent($event)" />

    <ion-button (click)="unselectShape()">Desmarcar</ion-button>

  </ion-header>

  <!-- TOP MENU -->

  <div id="top-menu">
    <div id="content-edit-text">
      <ion-item id="content-font-size">
        <ion-label>Font Size</ion-label>
        <ion-input type="number" (change)="editTextAttrs()" [(ngModel)]="selectedFontSize"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Font Family</ion-label>
        <ion-select [(ngModel)]="selectedFontFamily" (ionChange)="editTextAttrs()">
          <ion-select-option value="Arial">Arial</ion-select-option>
          <ion-select-option value="Verdana">Verdana</ion-select-option>
          <ion-select-option value="Times New Roman">Times New Roman</ion-select-option>
          <!-- Adicione outras opções de fonte aqui -->
        </ion-select>
      </ion-item>
  
      <ion-item id="content-color">
        <ion-input label="Color"  [(colorPicker)]="color" [style.background]="color"></ion-input>
      </ion-item>
    </div>
    
    <div id="content-edit-image">
      <ion-item>
        <ion-label position="floating">Width (pixels)</ion-label>
        <ion-input type="number" [(ngModel)]="imageWidth"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Height (pixels)</ion-label>
        <ion-input type="number" [(ngModel)]="imageHeight"></ion-input>
      </ion-item>
    </div>
    <!-- <ion-button (click)="editTextAttrs()">Aplicar</ion-button> -->


    <ion-button class="button-edit" (click)="resizeImage()">Resize Image</ion-button>
  </div>

  <!-- LATERAL MENU -->
  <div id="menu">
    <ion-button class="button-edit" id="click-text">
      <ion-icon name="text-outline"></ion-icon>
    </ion-button>

    <ion-popover trigger="click-text" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding" color="dark">
          <ion-input [(ngModel)]="textToAdd" placeholder="Digite um nome"></ion-input>
        </ion-content>
        <ion-button (click)="applyTextToImage()">Aplicar Nome</ion-button>

      </ng-template>

    </ion-popover>

    <!--  -->
    <ion-button class="button-edit"  id="click-shape">
      <ion-icon name="square-outline"></ion-icon>
    </ion-button>
    
    <ion-popover trigger="click-shape" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding" color="dark">
          <div class="item-shape" (click)="addSquare()">
            <ion-label>Quadrado</ion-label>
            <ion-icon name="square-outline"></ion-icon>
          </div>
          <div class="item-shape" (click)="addCircle()">
            <ion-label>Círculo</ion-label>
            <ion-icon name="radio-button-off-outline"></ion-icon>
          </div>
          <div class="item-shape" (click)="addArrow()">
            <ion-label>Flecha</ion-label>
            <ion-icon name="arrow-forward-outline"></ion-icon>          
          </div>
        </ion-content>
      </ng-template>
    </ion-popover>

    <!--  -->

    <ion-button class="button-edit">
      <ion-icon name="text-outline"></ion-icon>
    </ion-button>
    <ion-button class="button-edit">
      <ion-icon name="text-outline"></ion-icon>
    </ion-button>
    <ion-button class="button-edit">
      <ion-icon name="text-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- PREVIEW -->
  <div #stageContainer class="canvas-container"></div>




</main>