<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<ion-content [fullscreen]="true">

  <section id="section-upload">
    <ion-title>
      Faça upload de uma imagem para começar
    </ion-title>
    <div id="upload-box">
      <img src="assets/file-upload.png" alt="">
      <div>
        <ion-label>Selecione uma imagem</ion-label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      </div>
    </div>
  </section>

  <section *ngIf="imageUrl" >
    <ion-title>
      Preview
    </ion-title>

    <div id="preview">
      <!-- <img *ngIf="imageUrl" [src]="imageUrl"></img> -->
      <img *ngIf="imageUrl" [src]="imageUrl" alt="">
    </div>
  </section>



</ion-content>